* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body {
    height: 100%;
    overflow-x: hidden;   /* evita scroll horizontal indesejado no body */
}

.header {
    position: fixed;
    top: 0; left: 0; right: 0;
    height: 70px;
    z-index: 600px;
    background: #1a1150;
}

.navbar {
    display: flex;
    height: 100%;
}

.navbar a {
    flex: 1;
    text-align: center;
    line-height: 70px;
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar a:hover {
    background: rgba(25, 2, 156, 0.925);
    letter-spacing: 2px;
}

.container {
    display: flex;
    width: 100vw;          /* 5 × 100vw */
    height: 100vh;
    scroll-snap-type: x mandatory;   /* ← snap nas seções */
    overflow-x: auto;                /* ← permite scroll lateral */
    scroll-behavior: smooth;
}

section {
    flex: 0 0 100vw;       /* cada seção ocupa 100% da viewport */
    height: 100vh;
    scroll-snap-align: start;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12vw;
    align-items: center;
    justify-content: center;
    font-size: 12vw;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
}

/* Cores diferentes para visualizar melhor */
section:nth-child(1) { background: #130564; }
section:nth-child(2) { background: #130564; }
section:nth-child(3) { background: #130564; }
section:nth-child(4) { background: #130564; }
section:nth-child(5) { 
    background: linear-gradient(to right, #190868, #110891, #09015aee);
    color: #ffffff;
}

@media (max-width: 300px) {
    .navbar a {
        font-size: 1rem;
    }
}
